.DS_Store
*.pdf
/nbproject/
build.xml
manifest.mf
/build/
/dist/
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Netbeans files

/nbproject/private/
/lib/

